<div class="modal fade" id="submissionSuccessModal" tabindex="-1" role="dialog" aria-labelledby="submissionSuccessModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content spark-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="submissionSuccessModalLabel">Submission Successful</h5>
      </div>
      <div class="modal-body">
        <p>Your application has been successfully submitted.</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Dashboard</a>
      </div>
    </div>
  </div>
</div>